@charset "UTF-8";

:root {
    --cor-main: #392a16;
    --cor-body: #231c07;
    --cor-sombra: #b86f52;
    --cor-link: #f78764;
}


body {
    background-color: var(--cor-body);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}


main {
    background-color: var(--cor-main);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px var(--cor-sombra);
    width: 75vw;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    color: beige;
}

.fundo {
    background-color: var(--cor-body);
}


.imagem {
    text-align: center;

}

.imagem#img01,
.imagem#img02 {
    text-align: center;
    background-image: url(imagem/patas.png);
    border-radius: 50%;


}

.imagem img {
    max-width: 80%;
    border-radius: 50%;
    padding: 25px;
    transition: transform (0.3) ease-in-out;
    text-align: center;
}

.imagem img:hover {
    transform: scale(1.1);
    filter: brightness(50%);
}

h1 {
    color: var(--cor-link);
    text-align: center;
    text-shadow: 1px 3px 3px #abe2d285
}


p {
    text-align: justify;
    text-indent: 50px;
    padding: 10px;

}

a {
    color: var(--cor-link);
}


a:visited {
    color: #634133;
}

footer {
    text-align: center;
}